/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  inline-size: 100%;
  max-inline-size: 850px;
  block-size: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.header {
  margin-top: 100px;
  font-family: "PressStart2P-Regular", serif;
  min-width: 700px;
  min-height: 369px;
  background: var(--main-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--decorative-font);
}

.header__title {
  font-size: 65px;
  text-transform: uppercase;
}

.header__text {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 23px;
}

.header__theme-menu {
  margin: 25px 0;
}

.theme-menu__list {
  padding-left: 17px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-size: 14px;
  line-height: 14px;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 2px;
  left: -20px;
  animation: move ease-in-out 0.5s infinite alternate-reverse;
  opacity: 0.6;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4px);
  }
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.button {
  border: none;
  background: var(--main-color);
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  transition: color 0.5s;
}

.theme-menu__button:focus-visible {
  outline: none;
  border: none;
  color: var(--accent-color);
  opacity: 0.6;
}

.theme-menu__button:hover {
  color: var(--accent-color);
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  transform-origin: left;
  transform: scaleX(0%);
  height: 2px;
  background-color: var(--accent-color);
  transition: transform 0.5s;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(100%);
}

main {
  margin-top: 99px;
}

main .post:nth-child(2) .content__image{
  filter:
          grayscale(50%)
          saturate(60%);
}

main .post:nth-child(3) .content__image{
  filter: saturate(300%);
}

main .post:nth-child(4) .content__image{
  filter:
          hue-rotate(40deg)
          saturate(120%);
}

main .post:nth-child(5) .content__image{
  filter: invert(100%);
}

main .post:nth-child(6) .content__image{
  filter: sepia(90%);
}

main .post:nth-child(7) .content__image{
  filter: blur(10px);
  }

main .post:nth-child(8) .content__image{
  filter:
          hue-rotate(95deg)
          blur(1px)
          contrast(55%)
          saturate(120%);
}

.post {
  max-width: 700px;
  color: var(--accent-color);
  background: var(--main-color);
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.text__block {
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.content-title__text {
  padding: 3px 10px;
  align-self: self-start;
  font-weight: var(--content-title-font-weight);
  line-height: 1.5rem;
  font-size: 1.12rem;
}

.image__wrapper {
  position: relative;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  overflow: hidden;
}

.content__image {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit:cover;
  object-position: right;
  display: block;
  vertical-align: middle;
}

.label {
  font-family: var(--decorative-font);
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: var(--accent-color);
}

@supports((text-stroke: 1px solid var(--main-color)) or (-webkit-text-stroke: 3px var(--main-color))) {
  .label {
    -webkit-text-stroke: 1px var(--main-color);
    text-stroke: 1px solid var(--main-color);
  }

}

.content__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: var(--content-text-font-weight);
}

.like-button__container {
  justify-self: flex-end;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  background: transparent;
  margin: 0 25px 25px 0;
}

.card__like-button {
  width: 130px;
  max-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
}

.button__text {
  font-family: var(--decorative-font);
  font-size: 14px;
  line-height: 13px;
}

.card__icon-button {
  height: 38px;
  outline: none;
  border: 2px solid transparent;
  align-self: end;
  justify-self: end;
  transition: fill 3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.sparks {
  opacity: 0;
}

/*Преобразование в изначальный вид*/
.like-icon .core {
  fill: var(--main-color);
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.like-icon .main-body {
  fill: var(--main-color);
  transition: fill 0.3s linear;
}

.like-icon .contour {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}

/*Преобразование в :hover вид*/
.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

/*Преобразование в :active вид*/
.like-icon:active .main-body {
  transition: fill 0.3s linear;
  fill: #FF0000;
}

.like-icon:active .core {
  transition: fill 0.3s linear;
  fill: #FF0000;
}

/*Преобразование в состояние liked*/
.like-icon.is-liked .core {
  fill: #FF0000;
  animation: fill 0.3s ease;
}

.like-icon.is-liked .main-body {
  fill: #FF0000;
  animation: fill 0.3s 00.3s;
}

.like-icon.is-liked .contour {
  fill: #FF0000;
  animation: fill 0.3s 00.6s;
}

.like-icon.is-liked .heart {
  animation: like 0.3s ease-in 0.1s 1;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks-boom 0.3s ease-in 0.3s 1;
}

@keyframes like {
  0% {transform: scale(1);}

  50% {transform: scale(1.2);}

  100% {transform: scale(1);}
}

@keyframes sparks-boom {
  0% {opacity: 0;}

  50% {opacity: 1;}

  100% {opacity: 0;}
}

.button-hover {
  position: relative;
}

.button-hover::before {
  content: "";
  position: absolute;
  inset: 0;
  left: 0;
  width: 100%;
  background-color: var(--button-fill-color);
  transform-origin: left;
  transform: scaleX(0%);
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.button-hover:hover::before {
  transform: scaleX(100%);
}

.footer {
  padding-bottom: 103px;
}

.floppy__button {
  padding: 15px 20px;
  font-family: var(--decorative-font);
  font-size: 14px;
  color: var(--accent-color);
  background: var(--main-color);
  border: 2px solid var(--accent-color);
  line-height: 12px;
}

.card__like-button:focus-visible, .floppy__button:focus-visible {
  outline: none;
  transition: box-shadow ease-in-out 0.5s;
  box-shadow: 2px 2px 0 var(--accent-color);
}

